.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 857px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 12px 871px 0 0;
}

.u-section-1 .u-image-1 {
  width: 499px;
  height: 499px;
  object-position: 40.2% 100%;
  background-image: url("images/_DSC0202-removebg-preview.....png");
  margin: 57px auto 0 50px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: -518px 73px 0 497px;
}

.u-section-1 .u-list-1 {
  min-height: 399px;
  grid-template-rows: auto;
  width: 524px;
  grid-auto-rows: 100%;
  height: auto;
  margin: 105px auto 0 616px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-auto-rows: calc(50% - 15px);
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  margin: -184px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 671px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
    width: auto;
    margin-right: -50px;
    margin-left: 420px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 143px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 14.5px);
    grid-template-columns: calc(50% - 14.5px) calc(50% - 14.5px);
    grid-auto-rows: calc(50% - 14.5px);
    grid-gap: 29px 29px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -208px;
    margin-right: 562px;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 451px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 37px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.0625rem;
    margin-top: -413px;
    margin-right: -100px;
    margin-left: 360px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 153px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin: 13px -50px 30px 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 271px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -465px;
    margin-right: -138px;
    margin-left: 308px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 205px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin: 20px auto 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 71px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    background-position: 50% 50%;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
    margin-top: -138px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 37px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 21.75px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 884px;
}

.u-section-2 .u-shape-1 {
  width: 94px;
  height: 94px;
  margin: 30px auto 0 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -94px 455px 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1081px;
  margin: 52px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-2 .u-text-2 {
  font-family: "Archivo Black";
  font-size: 4.875rem;
  background-image: none;
  text-transform: none;
  margin: 35px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0px;
  background-image: none;
  margin: 0 0 0 -40px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px 0 0 -40px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 559px;
  background-image: url("images/eftakher-alam-i1VQZsU86ok-unsplash1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 70px 0 0;
}

.u-section-2 .u-shape-2 {
  width: 228px;
  height: 228px;
  margin: -81px 0 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 355px;
    margin-right: 355px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 245px;
    margin-right: 245px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 14px 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    background-position: 75.65% 50%;
    min-height: 372px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 155px;
    margin-right: 155px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 40px 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 507px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 149px;
  }

  .u-section-2 .u-image-1 {
    min-height: 319px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -49px;
    margin-bottom: -56px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 572px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  font-size: 3.75rem;
  margin: 30px 82px 0;
}

.u-section-3 .u-text-2 {
  width: 905px;
  font-weight: normal;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 319px;
  grid-auto-rows: 100%;
  height: auto;
  margin: 61px 0 30px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 18px);
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-auto-rows: 100%;
  grid-gap: 27px 27px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 20px 20px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 20px 20px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 20px 20px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13.5px);
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    grid-auto-rows: calc(50% - 13.5px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 18px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 869px;
}

.u-section-4 .u-shape-1 {
  width: 351px;
  background-image: none;
  height: 791px;
  margin: 30px auto 0 170px;
}

.u-section-4 .u-gallery-1 {
  width: 1131px;
  height: 493px;
  grid-gap: 10px 10px;
  margin: -548px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 125px;
  margin: -666px 225px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 30px auto 0 48px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-4 .u-shape-1 {
    width: 300px;
    height: 962px;
    margin-left: 115px;
  }

  .u-section-4 .u-gallery-1 {
    height: 618px;
    margin-top: -688px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 154px;
    margin-top: -835px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-4 .u-shape-1 {
    height: 968px;
    margin-top: 28px;
    margin-left: 103px;
  }

  .u-section-4 .u-gallery-1 {
    height: 700px;
    margin-top: -752px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -884px;
    margin-right: -50px;
    margin-bottom: -271px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2676px;
  }

  .u-section-4 .u-shape-1 {
    height: 2616px;
    margin-top: 30px;
    margin-left: 54px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2309px;
    margin-top: -2343px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 16px 16px;
  }

  .u-section-4 .u-group-1 {
    width: 486px;
    margin-top: -2517px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1866px;
  }

  .u-section-4 .u-shape-1 {
    width: 260px;
    height: 1806px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 1555px;
    margin-top: -1591px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    width: 252px;
    min-height: 99px;
    margin-top: -1702px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-right: 71px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 413px;
}

.u-section-5 .u-slider-1 {
  min-height: 413px;
  width: 893px;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  width: 232px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-4 {
  width: 212px;
  margin: 15px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  width: 232px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-8 {
  width: 212px;
  margin: 15px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-10 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  width: 232px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-12 {
  width: 212px;
  margin: 15px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
}

.u-section-5 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-slider-1 {
    min-height: 491px;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 458px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -15px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -15px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -15px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 30px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: -27px;
    right: auto;
    position: absolute;
  }

  .u-section-5 .u-carousel-control-2 {
    left: auto;
    right: -27px;
    position: absolute;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 443px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 443px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 24px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 28.8px;
  font-style: normal;
  font-weight: normal;
  margin: 55px -32px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 52px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
  color: rgb(106, 63, 182) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 443px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 24px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 18px 119px 0 0;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 116px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 443px;
}

.u-section-6 .u-container-layout-3 {
  padding: 9px 30px 0;
}

.u-section-6 .u-form-1 {
  height: 422px;
  width: 320px;
  margin: 0;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-left: 57px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 52px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 49px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 431px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 5px;
  }

  .u-section-6 .u-form-1 {
    width: 253px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 432px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-form-1 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 55px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 28px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-6 .u-form-1 {
    margin-top: 1px;
    margin-right: 0;
    margin-left: 10px;
    width: auto;
  }
}